<p>
  <div class="single-input">
    <%= f.email_field :email, class: '', placeholder:'Email', tabindex: 1, autofocus: true %>
  </div>
</p>
<div id="password-credentials">
  <div class="single-input">
    <%= f.password_field :password, class: '', placeholder:'Password', tabindex: 2   %>
  </div>
  <div class="single-input">
    <%= f.password_field :password, class: '', placeholder:'Confirm Password' , tabindex: 3  %>
  </div>
</div>
<div data-hook="signup_below_password_fields"></div>
